section.hero-section {
  background-image: url("../images/home/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  margin-top: 40px;

  background-color: #002e6d;
}

.hero-section .hero-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-section p.secondary-text {
  border-radius: 20px;
}

section.business-package-section {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

section.business-package-section h2.primary-heading {
  border: 2px solid #002e6d;
  border-radius: 20px;
}

section.business-package-section .business-package-card .top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

section.business-package-section .business-package-card .bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section.customer-say-section {
  border-radius: 40px;
}

section.customer-say-section .review-block {
  border: 1px solid #ffffff;
}

section.customer-say-section .review-block .tick-icon-block {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

section.customer-say-section .review-block p.invited,
section.customer-say-section .review-block p.name-date {
  font-size: 14px;
}

section.customer-say-section
  .review-block
  .swiper-horizontal
  > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
}

section.customer-say-section .review-block .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
}

section.why-choose-us-section .description {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

section.why-choose-us-section .bg-img {
  height: 550px;
  background-image: url("../images/home/why-choose-us-banner.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 40px;
}

section.internet-package-section .seperator-border {
  max-width: 950px;
  height: 1px;
  background-color: #002e6d;
  margin: 10px auto;
}

section .google-review-section {
  border-radius: 40px;
}

section .google-review-section .review-block .left-block p.rating {
  color: #f4bf00;
}

section .google-review-section .review-block .left-block ul li {
  margin-left: -5px;
}

section .google-review-section .review-block .left-block img.powered-by-google {
  margin-top: -10px;
  max-width: 150px;
}

section .google-review-section .review-block .right-block p.time {
  font-size: 14px;
}

section .google-review-section .review-block .left-block a.google-review-btn {
  max-width: 120px;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
}

section
  .google-review-section
  .review-block
  .left-block
  a.google-review-btn
  img {
  width: 16px;
  margin-left: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1px;
}

section .google-review-section .review-block .right-block .content-block {
  height: 80px;
  overflow-y: scroll;
}

section .google-review-section .review-block .right-block .content-block p {
  font-size: 14px;
}

section
  .google-review-section
  .review-block
  .swiper-horizontal
  > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
}

section .google-review-section .review-block .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
}

footer .footer-section-top {
  background-image: url("../images/home/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer a {
  color: #ffffff;
  transition: all 0.25s ease;
}

footer a:hover,
footer a:focus {
  color: #b2ef42;
}

footer .footer-section-bottom {
  background-color: #7abbf4;
}

@media (max-width: 1199px) {
  section.hero-section {
    border-radius: 0px;
    margin-top: 0px;
  }

  .hero-section .hero-container {
    padding-top: 50px;
  }

  section.customer-say-section {
    border-radius: 0px;
  }

  section.why-choose-us-section .bg-img {
    border-radius: 0px;
  }
}

@media (max-width: 768px) {
  .hero-section .hero-container {
    padding-top: 30px;
  }
}
