section.hero-section {
  background-image: url("../images/home/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  margin-top: 40px;
}

@media (max-width: 1199px) {
  section.hero-section {
    border-radius: 0px;
    margin-top: 0px;
  }
}
