header .nav-link {
  color: #ffffff !important;
  font-size: 15px;
}

header .logo-block {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

header .logo-block img.logo {
  max-width: 180px;
  width: 100%;
  background-color: #ffffff;
}

header .header-middle {
  margin-top: -48px;
}

header .header-middle .top-left-content {
  left: -102px;
}

header .header-middle .top-right-content {
  right: -113px;
}

.header-right-menu {
  top: 43px;
  right: 35px;
}

.header-right-menu a {
  font-size: 15px;
}

section.hero-section {
  background-image: url("../images/home/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  margin-top: 40px;
}
